
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.header-container{
  padding: 0 0;
}
.main-header{
  display: flex;
  width: 100%;
  background-color: $gray-200;
  padding: 20px 15px;
  justify-content: space-between;
  align-items: center;
  .item{
    display: flex;
  }
  .item.right{

    text-align: right;
  }
}

.card-footer-flex{
  .row{
    width: 100%;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.card-vacancy{
  margin-top: 20px;
  margin-bottom: 20px;
}
